body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wei{
    color: rgb(111, 111, 188);
    font-size: 25px;
    font-style:oblique ;
    font-display:initial ;
}

h1{
    justify-self: center;
}
