body {
  background-color: #1a1a1a;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  /* display: flex; */
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
}
.container {
  margin-top: 100px;
  width: 750px;
  height: 700x;
  padding: 30px;
  border-radius: 15px;
  background: linear-gradient(145deg, #2a2a2a, #333333);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5), -10px -10px 20px rgba(255, 255, 255, 0.05);
  margin-bottom: 15px;
}
.header {
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  color: #87CEEB;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.info-section {
  border: 2px solid #f5deb3;
  border-radius: 10px;
  padding: 13px;
  background: #333333;
}
.info-item {
  font-size: 30px; 
  font-weight: bold;
  color: #f5deb3;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2a2a2a;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.info-item span {
  font-weight: normal;
  text-decoration: underline;
  color: #e0e0e0;
  text-align: right;
  flex: 1;
  padding-left: 20px;
  display:auto;
}
.box {
  width: 250px;
  height: 80px;
  align-content: center;
  background-color: #2a2a2a;
  color: white;
  text-align: center;
  line-height: 50px;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 30px;
  margin-bottom: 20px;
}
.arrow {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid white;
  margin: auto;
  transform: rotate(-90deg);
}
.styled-button {
font-size: 16px;
font-weight: bold;
color: white;
padding: 12px 24px;
background: linear-gradient(135deg, #4CAF50, #81C784);
border: none;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
cursor: pointer;
transition: all 0.3s ease;
width: 250px;
height: 50px;
margin-bottom: 40px;
margin-top: 10px;

}

/* 滑鼠懸停效果 */
.styled-button:hover {
background: linear-gradient(135deg, #388E3C, #66BB6A);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
transform: translateY(-2px);
}

/* 點擊效果 */
.styled-button:active {
transform: translateY(1px);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

